.container {
  max-width: 1250px;
  margin: 0 auto;
}
.flex-60 {
  flex: 0 1 60%;
}
.flex-30 {
  flex: 0 1 30%;
}
.active {
  background-color: lightgreen;
}

.width-40 {
  width: 40%;
  margin: 0 auto;
}
